/* ################################ */
/* ############## base ############## */
/* ################################ */
html,
body {
  width: 100%;
}
body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}
img {
  max-width: none;
}
h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
a,
a:link,
a:active,
a:visited {
  color: #009acd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* ################################ */
/* ############# header ############# */
/* ################################ */
header {
  width: 100%;
  min-width: 960px;
  background: #291f23 url(../img/headerBG.png) repeat-x left 70px;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
header .headerLogo a {
  display: block;
  margin: 22px 0 0 -10px;
}
nav ul {
  list-style-type: none;
  margin: 45px 0 0 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 50px;
  height: 45px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li.selected {
  background: transparent url(../img/navArrow.png) no-repeat center bottom;
}
nav ul li a,
nav ul li a:link,
nav ul li a:active,
nav ul li a:visited {
  color: #979495;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav ul li a:hover {
  color: #009acd;
}
/* ################################ */
/* ########### prodMenu ############ */
/* ################################ */
#prodMenu {
  width: 100%;
  height: 150px;
  background: #fff;
  margin-top: -60px;
  position: relative ;
  z-index: 0;
}
#prodSlider {
  width: 800px;
  margin: 0 auto;
  display: block;
}
#prodSlider ul {
  margin: 10px 0;
}
#prodSlider .flex-viewport {
  z-index: 1;
}
#prodSlider ul.slides li {
  display: none;
  overflow: hidden;
  height: 130px;
  width: 158px;
  border-left: 1px transparent solid;
  border-right: 1px #e9e8e9 solid;
}
#prodSlider ul.slides li.border {
  border-left: 1px #e9e8e9 solid;
}
#prodSlider ul.slides li a {
  display: block;
  height: 130px;
  width: 158px;
  color: #757173;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
}
#prodSlider ul.slides li a .prodIcon {
  height: 60px;
  width: 60px;
  display: block;
  margin: 20px auto 0;
  opacity: 0.2;
}
#prodSlider ul.slides li a .title {
  margin-top: 10px;
  text-align: center;
  color: #757173;
}
#prodSlider ul.slides li a .prodIcon,
#prodSlider ul.slides li a .title {
  transition: all ease-in-out 0.2s;
}
#prodSlider ul.slides li a:hover .prodIcon,
#prodSlider ul.slides li a:hover .title {
  opacity: 1;
  color: #291f23;
}
#prodSlider .flex-direction-nav {
  position: absolute;
  width: 940px;
  margin: -100px 0 0 -70px;
  list-style-type: none;
  height: 0px;
  overflow: visible;
  z-index: 0;
}
#prodSlider .flex-direction-nav li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 50%;
  text-align: right;
  height: 0;
  overflow: visible;
}
#prodSlider .flex-direction-nav li:first-child {
  text-align: left;
}
#prodSlider .flex-direction-nav li a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 40px;
  width: 40px;
  opacity: 0.45;
  transition: all ease-in-out 0.2s;
}
#prodSlider .flex-direction-nav li a:hover {
  opacity: 1;
}
#prodSlider .flex-direction-nav li a.flex-prev {
  background: transparent url(../img/productArrows.png) no-repeat 0 0;
}
#prodSlider .flex-direction-nav li a.flex-next {
  background: transparent url(../img/productArrows.png) no-repeat -50px 0;
}
/* ################################ */
/* ############# Slider ############## */
/* ################################ */
#sliderWrapper {
  position: relative;
  min-width: 940px;
  max-width: 1280px;
  height: 410px;
  margin: 0 auto;
  overflow: hidden;
}
#slider {
  position: absolute;
  left: 50%;
  margin-left: -640px;
  width: 1280px;
  height: 410px;
}
#slider ul {
  margin: 0;
}
#slider ul li {
  display: none;
  height: 410px;
}
#slider ul li .overlay {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 40px;
  background: transparent url(../img/black25.png) repeat;
}
