@font 					: 'Roboto', helvetica, arial, sans-serif; 

@brown-dark			: #291f23;
@brown-medium 		: #757173;
@brown-light 			: #9a8d7d;
@brown-light-medium 	: #979495;
@brown-light-ultra		: #d4d2d3;

@blue 					: #009acd;



/* ################################ */
/* ############## base ############## */
/* ################################ */

html, body {
	width: 100%;
}
	
body {
	font-family: @font;
	font-size: 13px;
	line-height: 20px;
}

img {
	max-width: none;
}

h2 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

a,
a:link,
a:active,
a:visited {
	color: @blue;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

/* ################################ */
/* ############# header ############# */
/* ################################ */

header {
	width: 100%;
	min-width: 960px;
	background: @brown-dark url(../img/headerBG.png) repeat-x left 70px;
	height: 90px;
	position: fixed;
	left: 0;
	top: 0;
}

	header .headerLogo  a {
		display: block;
		margin-top: 22px;
	}

	nav ul {
		list-style-type: none;
		margin: 45px 0 0 0;
		padding: 0;
	}

		nav ul li {
			display: inline-block;
			zoom: 1;
			*display: inline;
			margin: 0 0 0 50px;
			height: 45px;
		}

		nav ul li:first-child {
			margin-left: 0;
		}

		nav ul li.selected {
			background: transparent url(../img/navArrow.png) no-repeat center bottom;
		}

			nav ul li a,
			nav ul li a:link,
			nav ul li a:active,
			nav ul li a:visited {
				color: @brown-light-medium;
				text-decoration:  none;
				text-transform: uppercase;
				font-size: 14px;
			}

			nav ul li a:hover {
				color: @blue;
			}

/* ################################ */
/* ########### prodMenu ############ */
/* ################################ */

#prodMenu {
	width: 100%;
	height: 150px;
	background: #fff;
	margin-top: 90px;
}

#prodSlider {
	width: 800px;
	margin: 0 auto;
	display: block;
}

	#prodSlider ul {
		margin: 0;
	}

		#prodSlider ul.slides li {
			display: none;
			overflow: hidden;
		}

			#prodSlider ul.slides li:first-child a {
				
			}

			#prodSlider ul.slides li a {
				display: block;
				height: 150px;
				width: 158px;
				border-left: 1px #e9e8e9 solid;
				border-right: 1px #e9e8e9 solid;
			}








